
@{
    ViewBag.Title = "GNC智能运维";
    Layout = "~/Views/Shared/_DefaultLayoutPage.cshtml";
}
<style type="text/css">
	#d_gheader {
		width: 100%;
		min-width: 900px;
		background: url(../../Content/img/gnc/gncback.png) no-repeat;
		color: white;
		background-size: 100% 200%;
		height:240px;
		padding-top:80px;
	}
	#d_ghtitle {
		background-color: #C00000;
		text-align:center;
		padding: 10px 20px;
		width: 460px;
		margin: 0 auto;
		letter-spacing:2px;
	}
	.dhbc_img img {
		width:180px;
		margin:10px 50px;
		vertical-align:middle;
	}
</style>

<div id="d_gheader">
	<div id="d_ghtitle">
		<h2>
			GNC智能运维管理服务
		</h2>
		<h3>
			专业的运维管理+服务管理
		</h3>
	</div>
</div>

<div id="d_hbody" style="text-align:center;">
	<div class="dhb_child">

		<img src="~/Content/img/gnc/gncwhat.png" class="dd_img" style="max-width:1300px;" />
		<img src="~/Content/img/gnc/gncpower.png" class="dd_img" />
	</div>
	<div class="dhb_child">
		<p class="dd_title">
			特点与优势
		</p>
		<img src="~/Content/img/gnc/gnctedian.png" class="dd_img" />

	</div>
	<div class="dhb_child">
		<p class="dd_title">
			可视化
		</p>
		<img src="~/Content/img/gnc/gncsee.png" class="dd_img" />
	</div>
	<div class="dhb_child">
		<p class="dd_title">
			GNC合作模式
		</p>
		<div>
			<img src="~/Content/img/gnc/gnchezuo.png"  class="dd_img" style="max-width:1300px;"  />
			@*<h2>
			借鉴与中国三大运营商的战略合作，面向企业级用户提供灵活的合作模式
		</h2>
		<div class="dhbc_img">
			<img src="~/Content/img/gnc/mobile.png" />
			<img src="~/Content/img/gnc/telecom.png" />
			<img src="~/Content/img/gnc/unicom.png" />
		</div>*@
		</div>
	</div>
</div>
