
@{
	ViewBag.Title = "健康物联网产品方案";
	Layout = "~/Views/Shared/_DefaultLayoutPage.cshtml";
}

<style type="text/css">
	#d_hheader {
		width: 100%;
		min-width: 900px;
		background: url(../../Content/img/AM028psd.jpg) no-repeat;
		color: white;
		background-size: 100%;
		padding-bottom: 30px;
	}

	#d_hbinfo {
		width: 60%;
		min-width: 900px;
		/*background-color: #eab56a;*/
		margin: 0 auto;
		padding: 10px;
		color: #555;
		margin-top: 30px;
	
	}
	#d_hbody {
		text-align: center;
	}
	.dhb_info {
		width: 70%;
		padding: 20px 40px;
		margin: 0 auto;
		border: 1px solid #808080;
		position: relative;
		z-index: 100;
		color:white;
	}
	#d_hbiz {
		position: absolute;
		top: 0;
		left: 0;
		background-color: white;
		z-index: -1;
		width: 100%;
		height: 100%;
		opacity:0.3;
	}
	.dhb_child {
		
		margin-top:30px;
		margin-bottom:20px;
	}
	#d_shdemo {
		width: 80%;
		min-width: 900px;
		margin: 0 auto;
	}
		#d_shdemo p {
			padding: 10px;
			background-color: #ebdbb8;
		}
</style>

<div id="d_hheader">
	<p style="width:80%;margin:0 auto;padding:20px;font-size:18px;">
		聚焦物联网数据采集，以物联网关为载体，深入健康医疗和教育行业垂直应用，提供从端到平台的产品方案，打造物联网应用的基础性产品解决方案。
	</p>
	<div id="d_hbinfo">
		<div class="dhb_info">
			<div id="d_hbiz"></div>
			<h3 style="text-align:center;">健康物联网产品方案</h3>
			<div style="width:100%;margin:0 auto;">
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;集健康物联网、健 康云平台、身份认证的多种技术结合，为未来整合医疗机构、健康管理机构、自助式的健康小屋甚至包括居家体检仪器在内的全民健康/医疗数据提供高效、安全的数据采集方案。

				</p>
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;技术特点：实现体检数据从体检/医疗设备端的直接采集、输出，并与健康云平台实现交互，同时支 持基于RFID、NFC等多种身份认证的技术。
				</p>
			</div>

		</div>
	</div>
</div>

<div id="d_hbody">
	<div class="dhb_child">
		<p class="dd_title">
			整体方案
		</p>
		<img src="~/Content/img/jk.png" class="dd_img" />

	</div>
	<div class="dhb_child">
		<p class="dd_title">
			产品配置
		</p>
		<img src="~/Content/img/jkpz.png" class="dd_img" />

	</div>
	<div class="dhb_child">
		<p class="dd_title">
			应用场景
		</p>
		<img src="~/Content/img/jkcj1.png" class="dd_img" />
		<img src="~/Content/img/jkcj2.png" class="dd_img" />
	</div>
</div>
<div id="d_shdemo">

	<fieldset style="padding-bottom:10px;">
		<legend style="font-size:18px;font-weight:600;letter-spacing:3px;color:#555;">服务案列</legend>
		<p style="display:inline-block">
			1. 为科技部 “村镇区域应急救援”项目提供生理数据采集产品，并在上海东方医院、江西井冈山茅坪卫生院和神山村卫生室的实地应用。
		</p>
		<p style="display:inline-block">2. 与上海交通大学医学院合作，为社区慢病及术后病人健康数据监测提供采集产品和平台开发服务。</p>
	</fieldset>
</div>