
@{
	ViewBag.Title = "校园物联网产品方案";
	Layout = "~/Views/Shared/_DefaultLayoutPage.cshtml";
}

<style type="text/css">
	#d_hheader {
		width: 100%;
		min-width: 900px;
		background: url(../../Content/img/AM028psd.jpg) no-repeat;
		color: white;
		background-size: 100%;
		padding-bottom:30px;
	}

	#d_hbinfo {
		width: 60%;
		min-width: 900px;
		/*background-color: #eab56a;*/
		margin: 0 auto;
		padding: 10px;
		color: #555;
		margin-top: 30px;
	}

	#d_hbody {
		text-align: center;
	}

	.dhb_info {
		width: 70%;
		padding: 20px 40px;
		margin: 0 auto;
		border: 1px solid #808080;
		position: relative;
		z-index: 100;
		color: white;
	}

	#d_hbiz {
		position: absolute;
		top: 0;
		left: 0;
		background-color: white;
		z-index: -1;
		width: 100%;
		height: 100%;
		opacity: 0.3;
	}

	.dhb_child {
		margin-top: 30px;
		margin-bottom: 20px;
	}

</style>

<div id="d_hheader">
	<p style="width:80%;margin:0 auto;padding:20px;font-size:18px;">
		聚焦物联网数据采集，以物联网关为载体，深入健康医疗和教育行业垂直应用，提供从端到平台的产品方案，打造物联网应用的基础性产品解决方案。
	</p>
	<div id="d_hbinfo">
		<div class="dhb_info">
			<div id="d_hbiz"></div>
			<h3 style="text-align:center;">校园物联网产品方案</h3>
			<div style="width:100%;margin:0 auto;">
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;通过物联网关、物联网控制器、BI等产品，组建校园物联网，配合智能物联终端，实现常态化自动监测学生体征、实时运动监测、进出校园管理、班级考勤、轨迹分析等，构建智慧校园体系。

				</p>
				
			</div>

		</div>
	</div>
</div>

<div id="d_hbody">
	<div class="dhb_child">

		<img src="~/Content/img/s0.png" class="dd_img" />

	</div>
	<div class="dhb_child">

		<img src="~/Content/img/s1.png" class="dd_img" />

	</div>
	<div class="dhb_child">

		<img src="~/Content/img/s2.png" class="dd_img" />

	</div>
	<div class="dhb_child">

		<img src="~/Content/img/s3.png" class="dd_img" />

	</div>
</div>

