
<style type="text/css">
	#d_shdemo {
		width: 80%;
		min-width: 900px;
		margin: 0 auto;
	}

		#d_shdemo ul {
			margin: 0;
			margin-bottom: 20px;
			padding: 20px;
		}

			#d_shdemo ul > li {
				list-style: none;
				float: left;
				padding: 10px 20px;
				background-color: #ebdbb8;
				margin-right: 20px;
				margin-top: 10px;
			}
</style>
<div id="d_shdemo">

	<fieldset style="padding-bottom:30px;">
		<legend style="font-size:18px;font-weight:600;letter-spacing:3px;color:#555;">服务案列</legend>
		<ul>
			<li>青浦区教育局</li>
			<li>闵行教育局</li>
			<li>虹口区广灵路小学</li>
			<li>青浦区青少年活动中心</li>
			<li>闵行区青少年活动中心</li>
			<li>上海市民立中学</li>
			<li>上海市莘庄中学</li>
			<li>闵行区平南小学</li>
			<li>上海市松江区青少年活动中心</li>
			<li>上海市青浦瀚文小学</li>
			<li>青浦区实验小学</li>
			<li>上海市青浦佳禾小学</li>
			<li>上海市青浦区实验中学</li>
			<li>松江区泗泾实验学校</li>
			<li>金山区初级中学</li>
			<li>金山区辅读学校</li>
			<li>上海市山阳中学</li>
			<li>上海市复旦中学</li>
			<li>上海市复兴高级中学</li>
			<li>上海外国语大学闵行外国语中学</li>
		</ul>
	</fieldset>
</div>
